= field_set_tag do
  .form-group
    .col-md-4.control-label
      = f.label :start_date, 'Start date'
    .col-md-8
      = f.date_select :start_date, include_blank: true, discard_year: true, class: 'form-control'
  .form-group
    .col-md-4.control-label
      = f.label :end_date, 'End date'
    .col-md-8
      = f.date_select :end_date, include_blank: true, discard_year: true, class: 'form-control'
  .form-group
    .col-md-4.control-label
      = f.label :closed, 'Closed or open during the above dates?'
    .col-md-8
      = f.select :closed, [['Closed', true], ['Open', false]]
  .form-group
    .col-md-4.control-label
      = f.label :opens_at, 'If open, enter the opening and closing hours below:'
    .col-md-8
      Opens at:
      = f.time_select :opens_at, minute_step: 15, prompt: true, ampm: true, ignore_date: true
      Closes at:
      = f.time_select :closes_at, minute_step: 15, prompt: true, ampm: true, ignore_date: true

  = f.hidden_field :_destroy
  = link_to t('admin.buttons.remove_holiday_schedule'), '#', class: 'btn btn-danger delete_association'
  %hr
