= field_set_tag do
  .form-group
    .col-sm-4.control-label
      = f.label :number, 'Number'
    .col-sm-8
      = f.telephone_field :number, maxlength: 14, class: 'form-control'
  .form-group
    .col-sm-4.control-label
      = f.label :vanity_number, 'Vanity Number'
      .desc
        (for example: 650-123-HELP)
    .col-sm-8
      = f.telephone_field :vanity_number, maxlength: 14, class: 'form-control'
  .form-group
    .col-sm-4.control-label
      = f.label :number_type, 'Number Type'
      .desc
        (Fax, Hotline, Voice, SMS, or TTY)
    .col-sm-8
      - if f.object.new_record?
        = f.select :number_type, Phone.number_type.options, { prompt: 'Choose an option' }, class: 'form-control'
      - else
        = f.select :number_type, Phone.number_type.options, {}, class: 'form-control'
  .form-group
    .col-sm-4.control-label
      = f.label :extension, 'Extension'
      .desc
        (numbers only)
    .col-sm-8
      = f.text_field :extension, maxlength: 8, class: 'form-control'
  .form-group
    .col-sm-4.control-label
      = f.label :department, 'Department'
    .col-sm-8
      = f.text_field :department, maxlength: 50, class: 'form-control'
  .form-group
    .col-sm-4.control-label
      = f.label :country_prefix, 'Country Prefix Code'
      .desc
        (For example: 1)
    .col-sm-8
      = f.telephone_field :country_prefix, maxlength: 4, class: 'form-control'
  = f.hidden_field :_destroy
  = link_to t('admin.buttons.delete_phone'), '#', class: 'btn btn-danger delete_association'
  %hr

